<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/menu.css">
    <title>Meditation Selection</title>
</head>
<body>

<div class="container">
    <input type="checkbox" name="" id="menuBtn">
    <div class="menu_overlay">
        <label for="menuBtn">
            <i class="fas fa-times"></i>
        </label>
        <ul class="list">
            <li><a href="#">Guided</a></li>
            <li><a href="/meditations">Seasonal</a></li>
            <li><a href="/new">Weather</a></li>
            <li><a href="/profile">My Profile</a></li>
        </ul>
    </div>
    <div class="landing_page">
        <div class="menu">
            <label for="menuBtn">
                <i class="fas fa-bars"></i>
            </label>
        </div>
<!--        <div class="side_text">-->
<!--            <div class="text_h4 h4-r">By</div>-->
<!--            <div class="text_h4 h4-l">Thomas Gardner</div>-->
<!--        </div>-->
        <div class="main_text">
            <div class="text_h2 h2-r"></div>
            <div class="text_h2 h2-l">Meditation Selection</div>
        </div>
    </div>
</div>
<script src="/menu.js"></script>
<script src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

</body>
</html>