<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is the meditation view</title>
</head>
<body>

</body>
</html>
<div class="form">

    <div class="container">
        <label id="image upload">Upload an image</label>
        <form enctype="multipart/form-data" action="/upload/image" method="post">
            <input id="image-file" type="file" />
        </form>

        <label id="audio file upload">Upload a audio file</label>
        <form enctype="multipart/form-data" action="/upload/image" method="post">
            <input id="audio-file" type="file" />
        </form>
    </div>

</div>


