<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Meditation Page</title>
</head>
<body>
<nav>
    <h4>Meditations</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<div class="video">
    <video autoplay muted loop>
        <source src="videos/summer.mp4"
        type="video/mp4">
    </video>
</div>

<div class="app">
    <div class="audio">
        <audio>
            <source src="audio/meditation.mp3"
            type="audio/mpeg">
        </audio>
        <div class="pause">
            <img src="/images/meditation_images/pause-button.png" alt="pause">
        </div>
        <div class="progress">
            <svg>
                <rect class="rect1" stroke-width="10" rx="8" height="150" width="150" y="25" x="25" stroke="#F07281" fill="transparent"></rect>
            </svg>
            <svg>
                <rect class="rect2" stroke-width="10" rx="8" height="150" width="150" y="25" x="25" stroke="#ffffff" fill="transparent"></rect>
            </svg>
            <div class="audio-remaining-time">
                00:00
            </div>
        </div>

        <div class="play">
            <img src="/images/meditation_images/play-button.png" alt="play">
        </div>
    </div>
    <div class="durations">
        <div class="duration">
            <img src="images/meditation_images/2min.png" alt="2 minutes">
            <p>2 minutes</p>
        </div>
        <div class="duration">
            <img src="images/meditation_images/5min.png" alt="5 minutes">
            <p>5 minutes</p>
        </div>
        <div class="duration">
            <img src="images/meditation_images/10min.png" alt="10 minutes">
            <p>10 minutes</p>
        </div>
        <div class="duration">
            <img src="images/meditation_images/20min.png" alt="20 minutes">
            <p>20 minutes</p>
        </div>
    </div>
    <div class="seasons">
        <div class="season">
            <img src="images/meditation_images/winter.png" alt="winter">
        </div>
        <div class="season">
            <img src="images/meditation_images/spring.png" alt="spring">
        </div>
        <div class="season">
            <img src="images/meditation_images/summer.png" alt="summer">
        </div>
        <div class="season">
            <img src="images/meditation_images/autumn.png" alt="autumn">
        </div>
        <div class="toggle-menu">
            <img src="images/meditation_images/right-arrow.png" alt="open menu">
        </div>
    </div>
</div>

<script src="meditation_functionality/toggle-season-menu.js"></script>
<!--<script src="meditation_functionality/hide-buttons.js"></script>-->
<script src="meditation_functionality/play-pause.js"></script>
</body>
</html>


