<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{{>header}}
<body>
<nav>
    <h4>Notes</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/meditationSelection">Meditation Selection</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>

<div id="container"> <!-- DIV ID Container -->
    <h1>Todo List</h1>

    {{>add_todo}}

    {{>todo_table}}

</div> <!-- DIV ID Container End -->
</body>
{{>footer}}
</html>

