<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Profile</title>
</head>
<body>

<nav>
    <h4>User Profile Page</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="avatar-ctn">
                    <img src="https://emm.icm.csic.es/wp-content/uploads/2018/10/0_200.png" class="avatar" alt="user profile picture">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Person Name</h5>
                    <p class="card-text">This is the card text</p>
                    <a href="#" class="btn-primary">person@email.com</a>
                </div>

            </div>
        </div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                    profile page
                </div>
                <div class="card-title">Welcome Back user!</div>
                <p class="card-text">This is your unique profile page, you can edit it however you like!</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text text-muted">
                Made By - Thomas Gardner
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>