@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

{
"version": 3,
"mappings": "AAAA,OAAO,CAAC,6EAAI;AAEZ,AAAA,IAAI,CAAC;EACH,MAAM,EAAE,CAAC;EACT,WAAW,EAAE,qBAAqB;EAClC,gBAAgB,EAAE,OAAO;CAC1B;;AAED,AAAA,GAAG,CAAC;EAAE,KAAK,EAAE,IAAI;CAAI;;AAErB,AAAA,QAAQ,CAAC;EACP,OAAO,EAAE,IAAI;EACb,WAAW,EAAE,MAAM;EACnB,MAAM,EAAE,KAAK;CACd;;AAED,AAAA,IAAI,CAAC;EACH,MAAM,EAAE,IAAI;EACZ,KAAK,EAAC,IAAI;EACV,OAAO,EAAE,SAAS;EAClB,UAAU,EAAE,MAAM;EAClB,eAAe,EAAE,IAAI;EACrB,OAAO,EAAE,YAAY;EACrB,UAAU,EAAE,IAAI;EAChB,MAAM,EAAE,OAAO;EACf,MAAM,EAAE,OAAO;EACf,KAAK,EAAE,IAAI;EACX,aAAa,EAAE,GAAG;CACnB;;AAED,AAAA,YAAY,CAAC;EAAE,gBAAgB,EAAE,OAAO;CAAI;;AAE5C,AAAA,KAAK,CAAC;EACJ,UAAU,EAAE,MAAM;EAClB,KAAK,EAAE,KAAK;EACZ,OAAO,EAAE,IAAI;EACb,aAAa,EAAE,GAAG;EAClB,UAAU,EAAE,CAAC,CAAC,IAAI,CAAC,IAAI,CAAC,gBAAgB,EAAE,CAAC,CAAC,GAAG,CAAC,IAAI,CAAC,mBAAmB;EACxE,gBAAgB,EAAE,IAAI;CAiBvB;;AAfE,AAAD,YAAQ,CAAC;EACP,OAAO,EAAE,KAAK;EACd,MAAM,EAAE,MAAM;EACd,KAAK,EAAE,KAAK;EACZ,MAAM,EAAE,KAAK;EACb,aAAa,EAAE,GAAG;EAClB,QAAQ,EAAE,MAAM;EAChB,UAAU,EAAE,KAAK;EACjB,UAAU,EAAE,CAAC,CAAC,IAAI,CAAC,IAAI,CAAC,gBAAgB,EAAE,CAAC,CAAC,GAAG,CAAC,IAAI,CAAC,mBAAmB;EACxE,MAAM,EAAE,cAAc;CACvB;;AAEA,AAAD,YAAQ,CAAC;EAAE,MAAM,EAAE,CAAC;CAAI;;AACvB,AAAD,UAAM,CAAC;EAAE,KAAK,EAAE,OAAO;CAAG",
"sources": [
"main.scss"
],
"names": [],
"file": "main.css"
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F4F6F8;
}

img {
    width: 100%;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    place-items: center;
    height: 100vh;
}

.btn {
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
}

.btn-primary {
    background-color: #008CBA;
}

.card {
    text-align: center;
    width: 360px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    background-color: #fff;
}

.card__image {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px rgba(0, 0, 0, 0.13);
    border: 3px solid #fff;
}

.card__title {
    margin: 0;
}

.card__job {
    color: #6E8192;
}

nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

/*
    display: flex and justify-content will inside of the nav grab the one and another,
    element and put both on different corners, they will be seperate.
*/

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center; /* will vertically align to center the il tags, as they are the children of the ul*/
}

nav li {
    list-style-type: none; /* removes the dots */
    margin: 0;
    padding: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: yellow;
    text-decoration: none;
}


.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

/*======================================================
                Meditation View Styling
=========================================================*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/* Video */

.video {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-33%);

    min-width: 100%;
    min-height: 100%;
}

/* APP */

.app {
    width: 100vw;
    height: 100vh;
    /*background-color: aqua;*/
    display: grid;
    grid-template-areas:
            "a a a a s s"
            "a a a a s s"
            "d d d d s s"
            "d d d d s s";

    transition: opacity 500ms ease-in-out;
}

.inactive{
    opacity: 0;
}

/* AUDIO */
.audio{
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio img{
    width: 50px;
    cursor: pointer;
}
.audio .progress{
    width: 200px;
    height: 200px;
    
    position: relative;

    margin: 0 40px;
}
.audio .progress svg {
    width: 200px;
    height: 200px;

    transform: rotate(45deg);

    position: absolute;

    z-index: -1;
}
.audio .progress .audio-remaining-time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/* DURATIONS */
.durations{
    grid-area: d;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 25%;
}
.durations .duration{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.durations .duration img{
    width: 75px;
    cursor: pointer;

    filter: drop-shadow(0px 0px 15px #222);
}
.durations .duration p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;

    color: #fff;

    margin-top: 5px;

    text-shadow: 0px 0px 15px #222;
}

/* SEASONS */
.seasons{
    grid-area: s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40% 0;
}

.seasons .season img{
    width: 75px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px #222);
}
/*Toggle menu*/
.toggle-menu{
    display: none;
}

/*media query for small screens*/

@media screen and (max-width: 600px) {
    /* VIDEO */

    .video video {
        height: 100%;
    }
    /* APP */
    .app{
        grid-template-areas:
                "a"
                "a"
                "a"
                "d";

    }

    /* Audio */

    .audio .progress{
        width:  175px;
        height: 175px;

        margin: 0 10px;
    }

    .audio .play img .pause img{
        width: 40px;
    }

    .audio .progress svg {
        width: 175px;
        height: 175px;
    }
    .audio .progress .rect1 .rect{
        width: 125px;
        height: 125px;
    }
    .audio .progress .audio-remaining-time{
        font-size: 1.75rem;
    }

    /* Durations */

    .durations{
        padding: 0 10%;
    }
    .durations .duration img{
        width: 60px;
    }

    .durations .duration p{
        font-size: 1rem;
    }

    /* Seasons */

    .seasons{
        position: absolute;
        top: 20px;
        left: -250px;
        padding: 0;

        flex-direction: row;

        background-color: #fff;
        border-radius: 0 5px 5px 0;

        transition: all 500ms ease-in-out;
    }

    .open{
        left: 0px;
    }
    .seasons .season{
        margin-left: 10px;
    }

    /* Toggle menu */

    .toggle-menu{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5px;

        margin-left: 10px;

        border-radius: 50%;

        transition: background 500ms ease-in-out;
    }
    .rotate{
        transform: rotate(180deg);
    }
    .toggle-menu:hover{
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .seasons .season img{
        width: 50px;
        filter: none;
    }
}

/*======================================================
                Meditation Selection Menu styling
=========================================================*/

.menu{
    width: 620px;
    margin: 100px auto; padding: 15px;
    list-style: none;
    counter-reset: li;
    background: #eee;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    border-radius: 10px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    zoom:1;
}

.menu li {
    position: relative;
    float: left;
    cursor: pointer;
    height: 120px; width: 200px;
    margin: 10px 0 0 10px;
    color: #fff;
}

.menu li:hover, .menu li:focus{
    background-image: linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
}

.menu .cover{
    z-index: 2;
}

.menu .cover:focus{
    outline: 0;
}

/* -------------------------------- */

.menu li::after{
    content: counter(li);
    counter-increment: li;
    font: italic bold 10px serif, georgia;
    position: absolute;
    color: rgba(255,255,255,.1);
    opacity: 0;
    transition: all .2s ease-out;
}

.menu li:hover::after, .menu li:focus::after{
    font-size: 100px;
    opacity: 1;
}

.menu .cover::after{
    z-index: -1;
}

.menu li:nth-child(1),
.menu li:nth-child(2),
.menu li:nth-child(3){
    margin-top: 0;
}

.menu li:nth-child(1),
.menu li:nth-child(4),
.menu li:nth-child(7){
    margin-left: 0;
}

/* -------------------------------- */

.menu li:nth-child(1),
.menu li:nth-child(1) .content,
.menu li:nth-child(1) .close{
    background-color: #2c618f;
}

.menu li:nth-child(2),
.menu li:nth-child(2) .content,
.menu li:nth-child(2) .close{
    background-color: #91ab31;
}

.menu li:nth-child(3),
.menu li:nth-child(3) .content,
.menu li:nth-child(3) .close{
    background-color: #714a28;
}

.menu li:nth-child(4),
.menu li:nth-child(4) .content,
.menu li:nth-child(4) .close{
    background-color: #e58600;
}

.menu li:nth-child(5),
.menu li:nth-child(5) .content,
.menu li:nth-child(5) .close{
    background-color: #c33a00;
}

.menu li:nth-child(6),
.menu li:nth-child(6) .content,
.menu li:nth-child(6) .close{
    background-color: #7f5dac;
}

.menu li:nth-child(7),
.menu li:nth-child(7) .content,
.menu li:nth-child(7) .close{
    background-color: #5672b7;
}

.menu li:nth-child(8),
.menu li:nth-child(8) .content,
.menu li:nth-child(8) .close{
    background-color: #69003f;
}

.menu li:nth-child(9),
.menu li:nth-child(9) .content,
.menu li:nth-child(9) .close{
    background-color: #393043;
}

.menu .content{
    opacity: 0; display: none\9;
    overflow: hidden;
    font: 12px Arial, Helvetica;
    position: absolute;
    height: 120px; width: 200px;
    transition: all .3s ease-out;
}

.menu .expanded{
    opacity: .95; display: block\9;
    overflow: visible;
    padding: 40px;
    height: 300px; width: 540px; /* Cover the entire area */
}

.menu li:nth-child(3n) .content{ /* 3,6,9 */
    right: 0;
}

.menu li:nth-child(3n-1) .expanded{ /* 2,5,8 */
    left: 50%;
    margin-left: -310px;
}

.menu li:nth-child(7) .content, /* 7,8,9 */
.menu li:nth-child(8) .content,
.menu li:nth-child(9) .content{
    bottom: 0;
}

.menu li:nth-child(4) .expanded, /* 4,5,6 */
.menu li:nth-child(5) .expanded,
.menu li:nth-child(6) .expanded{
    margin-top: -190px;
    top: 50%;
}

/* -------------------------------- */

.menu .title{
    position: absolute;
    height: 100%; width: 100%;
    text-align: center;
    font: italic bold 1em/120px 'trebuchet MS', Arial, helvetica;
    opacity: .2;
}

.menu li:hover .title{
    opacity: .7;
}

/* -------------------------------- */

.menu .close {
    /*background: inherit;*/
    display: none;
    border: 5px solid #fff;
    color: #fff;
    cursor: pointer;
    height: 40px; width: 40px;
    font: bold 20px/40px arial, helvetica;
    position: absolute;
    text-align: center;
    top: -20px; right: -20px;
    border-radius: 40px;
}

.menu .cover .close{
    display: block;
}