nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

/*
    display: flex and justify-content will inside of the nav grab the one and another,
    element and put both on different corners, they will be seperate.
*/

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center; /* will vertically align to center the il tags, as they are the children of the ul*/
}

nav li {
    list-style-type: none; /* removes the dots */
    margin: 0;
    padding: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: yellow;
    text-decoration: none;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

/*======================================================
                Meditation View Styling
=========================================================*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/* Video */

.video {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-33%);

    min-width: 100%;
    min-height: 100%;
}

/* APP */

.app {
    width: 100vw;
    height: 100vh;
    /*background-color: aqua;*/
    display: grid;
    grid-template-areas:
            "a a a a s s"
            "a a a a s s"
            "d d d d s s"
            "d d d d s s";
}

/* AUDIO */
.audio{
    grid-area: a;
    background-color: aqua;
    opacity: 0.5;
}

/* DURATIONS */
.durations{
    grid-area: d;
    background-color: red;
    opacity: 0.5;
}

/* SEASONS */
.seasons{
    grid-area: s;
    background-color: blue;
    opacity: 0.5;
}

/*media query for small screens*/

@media screen and (max-width: 600px) {
    /* VIDEO */

    .video video {
        height: 100%;
    }
}
