@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("/guidedMeditation/bg.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

body::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
}

/*
    display: flex and justify-content will inside of the nav grab the one and another,
    element and put both on different corners, they will be seperate.
*/

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center; /* will vertically align to center the il tags, as they are the children of the ul*/
}

nav li {
    list-style-type: none; /* removes the dots */
    margin: 0;
    padding: 0;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    left: 80px;
}

nav li a:hover{
    color: yellow;
    text-decoration: none;
}


.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input label {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
}

.input select{
    border: none;
    border-radius: 300px;
    font-size: 16px;
    padding: 8px 4px;
    background-color: #6236ff;
    color: white;
}

.input select:focus{
    outline: none;
}

.input label{
    color: #fff;
}

.circle-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.circle-outline{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    border: 15px solid #f1f1f1;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-progress{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #6236ff;
    border-radius: 50%;
    transition: 4s ease all;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-grow {
    transform: scale(5.3);
}

.breaths {
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
    color: #fff;
}

.instructions {
    text-align: center;
    margin-bottom: 32px;
    color: #fff;
}

button {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #6236ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.start{
    color: #fff;
}

button:hover {
    background-color: #f1f1f1;
    color: #6236ff;
}

.button-inactive {
    pointer-events: none;
    /*background-color: #969696;*/
    color: #fff;
}



